#container {
    width: auto;
    height: auto;
    position: relative;
    background-color: grey;
}

#animation {
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: red;
}