html {
    margin: 0 0 0 0;
    background-color: rgb(49, 46, 46);
    color: aliceblue;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
    font-family: 'Quicksand', sans-serif;
}

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: rgb(219, 227, 233);
}

button {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(49, 46, 46);
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
}

button:hover {
    background-color: rgb(55, 54, 54);
}

footer {
    text-align: center;
    margin-top: 50px;
}

#about-me-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

#creator-headshot {
    max-height: 200px;
    max-width: auto;
    border: 2px solid rgb(49, 46, 46);
    border-radius: 5px;
    flex-shrink: 0;
}

#container {
    width: 750px;
    height: 500px;
    position: relative;
    background-color: grey;
    /*border: 3px solid cadetblue;*/
}

#animation {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: red;
    border: 1px;
    border-radius: 5px;
}

#animation-project {
    padding: 10px;
}

#skills-container {
    font-size: 2em;
    width: 2em;
    margin-top: 5px;
}

.nav-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.nav-item {
    margin: 10px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    text-align: left;
    width: 100%;
    font-size: 1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), 
and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: rgb(55, 54, 54);
}

.collapsible:after {
    content: "\002B";
    color: aliceblue;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    background-color: aliceblue;
    transition: max-height 0.3s ease-out;
}

.expandable-text {
    color: rgb(49, 46, 46);
}