html {
    margin: 0 0 0 0;
    background-color: rgb(49, 46, 46);
    color: aliceblue;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
    font-family: 'Quicksand', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    max-width: 900px;
    width: -webkit-fill-available;
    width: -moz-available;
    background-color: rgb(49, 46, 46);
    z-index: 1;
    border-bottom: 1px aliceblue solid;
}

main {
    margin-top: 75px;
}

p { 
    line-height: 1.5; 
    letter-spacing: .05rem; 
}

/* Part of the nav button underlining function */
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(253, 124, 146);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

/* Part of the nav button underlining function */
a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Part of the nav button underlining function */
li a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

/* Part of the nav button underlining function */
li a:hover::after,
li a:focus::after {
    transform: scale(1);
}

a {
    text-decoration: none;
    color: aliceblue;
}

section {
    padding: 10px 0;
}

button {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(49, 46, 46);
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;

}

button:hover {
    background-color: rgb(55, 54, 54);
}

footer {
    font-size: 1em;
    text-align: center;
    margin: 100px 0 50px 0;
}

#title-header { 
    letter-spacing: .1rem; 
    font-weight: 500; 
    font-size: 30px; 
}

#about-me-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#creator-headshot {
    max-height: 200px;
    max-width: auto;
    border: 2px solid rgb(49, 46, 46);
    border-radius: 5px;
    flex-shrink: 0;
}

#container {
    width: 750px;
    height: 500px;
    position: relative;
    background-color: grey;
    /*border: 3px solid cadetblue;*/
}

#animation {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: red;
    border: 1px;
    border-radius: 5px;
}

#animation-project {
    padding: 10px;
}

#cnc-blog {
    text-decoration: solid;
    color: rgb(253, 124, 146);
}

#cnc-blog:hover {
    color: rgb(255, 98, 125);
}

#skills-container {
    font-size: 3em;
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

#footer-date {
    padding-top: 20px;
}

#contact-main {
    display: flex;
    justify-content: center;
}

#contact-info {
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.nav-item {
    margin: 10px;
}

/* Part of the nav button underlining function */
.nav-item a {
    display: block;
    position: relative;
    padding: 0.2em 0;
}

#nav-item-icon {
    display: none;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    text-align: left;
    width: 100%;
    font-size: 1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), 
and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: rgb(55, 54, 54);
}

.collapsible:after {
    content: "\002B";
    color: aliceblue;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 10px; /* Don't set first value or it messes up the display of the div */
    max-height: 0;
    overflow: hidden;
    background-color: aliceblue;
    transition: max-height 0.5s ease-out;
}

.expandable-text {
    color: rgb(49, 46, 46);
}

.footer-span {
    color: rgb(253, 124, 146);
}


@media only screen and (max-width: 900px) {
    body {
        width: 90%;
        
    }

    nav {
        max-width: 90%;
    }

    .nav-item {
        display: none;
    }

    #nav-item-icon {
        display: flex;
        /* float: right; */
        font-size: 2rem;
    }

    #creator-headshot {
        max-height: 1000px;
        max-width: 85%;
    }

    #about-me-container {
        flex-direction: column;
    }

    .responsive {
        position: relative; 
    }

    .responsive .nav-item {
        display: block;
    }

    .responsive {
        right: 0;
        top: 0;
        flex-direction: column-reverse;
        float: none;
        text-align: center;
    }
}